$primaryColor: #FE654F;
$primaryColorLight: #FE816F;
$primaryColorLightest: #FE9789;
$textColor: #0B032D;
$textColorLight: #373053;
$borderColor: #e8e8e8;
$backgroundColor: #f9f9f9;
$gray: #E7F6F6;
$white: #fff;
