@import './colors.scss';

aside {
  background: $primaryColor;
  z-index: 999;
  position: fixed;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0;
}

.menu-item {
  color: $white;
  text-align: right;
  background-color: $primaryColorLight;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.wrapper.closed aside {
  width: auto;
}

.wrapper.open aside {
  width: 300px;
}

.hamburger {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 20px;

  & button {
    cursor: pointer;
    border: 0;
    background: transparent;
    outline: 0;
  }
}


.pad {
  padding: 10px;
}