@font-face {
  font-family: 'Ap';
  src: url('../fonts/apercu_regular_pro.woff') format('woff');
}
@import './base.scss';
@import './colors.scss';

@import './card.scss';

html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Ap', sans-serif;
  background-color: $backgroundColor;
  color: $textColor;
  min-height: 100%;
}
